<table class="table table-condensed">
  <tr>
    <th class="col-sm-2">Username</th>
    <th class="col-sm-4">Role(s)</th>
    <th class="col-sm-2">Status</th>
    <th class="col-sm-3">Password Change</th>
    <th class="col-sm-1">Delete</th>
    </tr><tr ng-repeat="user in users">
      <td>{{user.username}}</td>
      <td>
        <div ng-if="Features.canGetRoles" user-roles ng-model="user"></div>
        <div ng-if="!Features.canGetRoles">N/A</div>
      </td>
      <td>
        <div ng-if="Features.canActivateUser"><span ng-bind-html="user.flags.indexOf('is_suspended') &lt; 0 ? 'Activated' : 'Suspended'"></span><span ng-show="notCurrentUser(user.username)"><a ng-show="user.flags.indexOf('is_suspended') &lt; 0" ng-click="suspend(user.username)" tooltip="Suspend" class="sl sl-hide"></a><a ng-hide="user.flags.indexOf('is_suspended') &lt; 0" ng-click="activate(user.username)" tooltip="Activate" class="sl sl-show"></a></span></div>
        <div ng-if="!Features.canActivateUser">N/A</div>
      </td>
      <td><span ng-if="Features.canChangePassword" ng-show="notCurrentUser(user.username)"><a ng-hide="user.shouldShowResetPassword || user.shouldShowConfirmation" ng-click="showResetPassword(user, true)" tooltip="Reset Password" class="fa fa-key"></a>
          <div ng-show="user.shouldShowResetPassword" class="reset-password">
            <input ng-model="user.resetPasswordValue" type="password"><a ng-click="showConfirmation(user)" class="sl sl-arrow-circle-right"></a><a ng-click="user.shouldShowResetPassword = false" class="sl sl-delete-circle"></a>
          </div>
          <div ng-show="user.shouldShowConfirmation" class="confirm-reset-password">
            <input type="text" value="Confirm password" ng-show="user.confirmationLabel" ng-focus="user.confirmationLabel = false">
            <input ng-show="!user.confirmationLabel" ng-model="user.resetPasswordConfirmationValue" type="password"><a ng-click="resetPassword(user)" class="sl sl-arrow-circle-right"></a><a ng-click="user.shouldShowConfirmation = false" class="sl sl-delete-circle"></a>
          </div></span>
        <div ng-if="!Features.canChangePassword">N/A</div>
      </td>
      <td><span ng-show="notCurrentUser(user.username)"><a ng-hide="user.confirmDelete" ng-click="user.confirmDelete = true" tooltip="Delete" class="sl sl-minus-circle"></a><a ng-show="user.confirmDelete" ng-click="delete(user.username)" tooltip="Confirm" class="sl sl-arrow-circle-right"></a><a ng-show="user.confirmDelete" ng-click="user.confirmDelete = false" tooltip="Cancel" class="sl sl-delete-circle"></a></span></td>
    </tr>
    <tr>
      <td colspan="5"><a exec-topic="server user add">Add new user</a></td>
    </tr>
  
</table>