<div fullscreen="fullscreen">
  <div class="outer">
    <div class="code-bar">
      <ul class="actions list-inline">
        <li dropdown="" ng-show="frame.type == &quot;http&quot;" class="dropdown"><a dropdown-toggle="" class="button sl sl-download-drive dropdown-toggle"></a>
          <ul class="dropdown-menu">
            <li><a exportable ng-click="exportJSON(frame.response)">Download JSON</a></li>
          </ul>
        </li>
        <li dropdown="" ng-show="frame.type == &quot;shell&quot;" class="dropdown"><a dropdown-toggle="" class="button sl sl-download-drive dropdown-toggle"></a>
          <ul class="dropdown-menu">
            <li><a exportable ng-click="exportText(frame.response)">Download TXT</a></li>
          </ul>
        </li>
        <li dropdown="" ng-show="frame.type == &quot;cypher&quot; &amp;&amp; expanded" class="dropdown"><a dropdown-toggle="" tooltip-placement="bottom" tooltip="Export to file" class="button sl sl-download-drive dropdown-toggle"></a>
          <ul class="dropdown-menu">
            <li><a exportable ng-click="exportGraphSVG()" ng-show="isActive(&quot;graph&quot;)">Export SVG</a><a exportable ng-click="exportPlanSVG()" ng-show="isActive(&quot;plan&quot;)">Export SVG</a><a exportable ng-click="exportGraphPNG()" ng-show="isActive(&quot;graph&quot;)">Export PNG</a><a exportable ng-click="exportPlanPNG()" ng-show="isActive(&quot;plan&quot;)">Export PNG</a><a exportable ng-click="exportJSON(frame.response.table._response)">Export JSON</a><a exportable ng-click="exportCSV(frame.response.table)">Export CSV</a></li>
          </ul>
        </li>
        <li><a ng-click="pin(frame)" ng-class="{pinned: pinned}" tooltip-placement="bottom" tooltip="Pin at top" class="button sl sl-pin"></a></li>
        <li ng-if="expanded"><a ng-click="toggleFullscreen(true)" tooltip-placement="bottom" tooltip="Fullscreen" ng-show="frame.fullscreenable" class="button sl sl-scale-spread"></a></li>
        <li ng-if="frame.type == 'cypher' &amp;&amp; expanded"><a ng-click="toggleVisibleContent()" tooltip-placement="bottom" tooltip="Collapse" class="button sl sl-chevron-up"></a></li>
        <li ng-if="frame.type == 'cypher' &amp;&amp; !expanded"><a ng-click="toggleVisibleContent()" tooltip-placement="bottom" tooltip="Expand" class="button sl sl-chevron-down"></a></li>
        <li><a ng-click="frames.close(frame)" tooltip-placement="bottom" tooltip="Cancel and close" class="button sl sl-delete"></a></li>
      </ul>
      <div class="status"><span ng-if="frame.type == &quot;cypher&quot;" class="prompt code">$</span><span click-to-code="frame.input" class="code mono">{{frame.input | uncomment}}</span></div><a ng-click="toggleFullscreen(false)" tooltip="Close Fullscreen" tooltip-placement="bottom" class="close-fullscreen sl sl-scale-reduce"></a>
    </div>
    <div class="inner">
      <div class="view-result help admin">
        <article ng-controller="UserAdminController" ng-if="!unauthorized">
          <div class="view-result-table result no-min-height">
            <div class="table-holder no-min-height">
              <table class="table table-condensed">
                <tr>
                  <th class="col-sm-2">Username</th>
                  <th class="col-sm-4">Role(s)</th>
                  <th class="col-sm-2">Status</th>
                  <th class="col-sm-3">Password Change</th>
                  <th class="col-sm-1">Delete</th>
                  </tr><tr ng-repeat="user in users">
                    <td>{{user.username}}</td>
                    <td>
                      <div ng-if="Features.canGetRoles" user-roles ng-model="user"></div>
                      <div ng-if="!Features.canGetRoles">N/A</div>
                    </td>
                    <td>
                      <div ng-if="Features.canActivateUser"><span ng-bind-html="user.flags.indexOf('is_suspended') &lt; 0 ? 'Activated' : 'Suspended'"></span><span ng-show="notCurrentUser(user.username)"><a ng-show="user.flags.indexOf('is_suspended') &lt; 0" ng-click="suspend(user.username)" tooltip="Suspend" class="sl sl-hide"></a><a ng-hide="user.flags.indexOf('is_suspended') &lt; 0" ng-click="activate(user.username)" tooltip="Activate" class="sl sl-show"></a></span></div>
                      <div ng-if="!Features.canActivateUser">N/A</div>
                    </td>
                    <td><span ng-if="Features.canChangePassword" ng-show="notCurrentUser(user.username)"><a ng-hide="user.shouldShowResetPassword || user.shouldShowConfirmation" ng-click="showResetPassword(user, true)" tooltip="Reset Password" class="fa fa-key"></a>
                        <div ng-show="user.shouldShowResetPassword" class="reset-password">
                          <input ng-model="user.resetPasswordValue" type="password"><a ng-click="showConfirmation(user)" class="sl sl-arrow-circle-right"></a><a ng-click="user.shouldShowResetPassword = false" class="sl sl-delete-circle"></a>
                        </div>
                        <div ng-show="user.shouldShowConfirmation" class="confirm-reset-password">
                          <input type="text" value="Confirm password" ng-show="user.confirmationLabel" ng-focus="user.confirmationLabel = false">
                          <input ng-show="!user.confirmationLabel" ng-model="user.resetPasswordConfirmationValue" type="password"><a ng-click="resetPassword(user)" class="sl sl-arrow-circle-right"></a><a ng-click="user.shouldShowConfirmation = false" class="sl sl-delete-circle"></a>
                        </div></span>
                      <div ng-if="!Features.canChangePassword">N/A</div>
                    </td>
                    <td><span ng-show="notCurrentUser(user.username)"><a ng-hide="user.confirmDelete" ng-click="user.confirmDelete = true" tooltip="Delete" class="sl sl-minus-circle"></a><a ng-show="user.confirmDelete" ng-click="delete(user.username)" tooltip="Confirm" class="sl sl-arrow-circle-right"></a><a ng-show="user.confirmDelete" ng-click="user.confirmDelete = false" tooltip="Cancel" class="sl sl-delete-circle"></a></span></td>
                  </tr>
                  <tr>
                    <td colspan="5"><a exec-topic="server user add">Add new user</a></td>
                  </tr>
                
              </table>
            </div>
          </div>
        </article>
        <article ng-if="unauthorized" class="help">
          <div class="container-fluid">
            <div class="col-md-12">
              <p>Please connect to the server to see this frame</p>
            </div>
          </div>
        </article>
        <div ng-show="frame.hasErrors" class="status-bar error">
          <div class="status">
            <div class="fa fa-exclamation-triangle icon-warning-sign">&nbsp;</div>{{frame.errorText}} : {{frame.detailedErrorText}}
          </div>
        </div>
        <div ng-show="frame.successMessage" class="status-bar error client-success">
          <div ng-show="frame.successMessage" class="status">
            <div class="fa fa-check-circle icon-success-sign">&nbsp;</div>{{frame.successMessage}}
          </div>
        </div>
        <footer ng-show="neo4j.clusterRole" class="tight relative"><small>Note: User management events do not propagate across a cluster</small></footer>
      </div>
    </div>
  </div>
</div>